<ion-header translucent="true" no-border>
  <ion-toolbar>
    <img id="logo" src="../../assets/images/logo.png">
    <ion-item id="balance" justify>
      <ion-label>${{balance}}.00</ion-label>
    </ion-item>
    <ion-menu-button slot="end"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- This is the side menu -->
  <ion-menu side="end" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar id="menuToolbar">
        <ion-title>{{name}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/account']">Account</ion-item>
        <ion-item button (click)="signOut()">Sign Out</ion-item>
        <ion-item button (click)="toggleFlashlight()">Flashlight</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

  <!-- This is the chart -->
  <div style="text-align:center">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [title]="chartOptions.title"
      ></apx-chart>
    </div>
  </div>
  
  <!-- Countdown Timer -->
  <ion-item id="countdown" justify>
    <ion-label>Countdown <br>{{seconds}}</ion-label>
  </ion-item>

  <!-- Edit number of candles shown -->
  <div id="num-candles"> 
    <ion-item>
      <ion-label>Number Of Candles</ion-label>
      <ion-select okText="Okay" cancelText="Cancel" [(ngModel)]="numCandles" (ionChange)="updateSeries(0)">
        <ion-select-option value="10">10</ion-select-option>
        <ion-select-option value="20">20</ion-select-option>
        <ion-select-option value="50">50</ion-select-option>
        <ion-select-option value="100">100</ion-select-option>
        <ion-select-option value="200">200</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <!-- This is where you bet -->
  <div id="betContainer">
    <ion-item lines="full" id="amount">
      <ion-label position="floating">Amount</ion-label>
    <ion-input type="text" [(ngModel)]="amount" required></ion-input>
    </ion-item>
    <br>
    <ion-label>Will the next candle be</ion-label>
    <br>
    <ion-button color="success" (click)="bet(0)" disabled="{{disableBet}}">Green</ion-button>
    <ion-button color="danger" (click)="bet(1)" disabled="{{disableBet}}">Red</ion-button>
  </div>

  <!-- This shows your current bet -->
  <div id="currentBetsContainer">
    <ion-item id="bet-header">
      <ion-label>Bet Amount</ion-label>
      <ion-label>Return</ion-label>
    </ion-item>
    <ion-item id="bet">
      <ion-label color="danger">${{amount}}</ion-label>
      <ion-label color="success">${{currentBet}}</ion-label>
    </ion-item>
  </div>
</ion-content>
