<ion-header translucent="true" no-border>
  <ion-toolbar>
    <img id="logo" src="../../assets/images/logo.png">
    <ion-item id="balance" justify>
      <ion-label>${{balance}}.00</ion-label>
    </ion-item>
    <ion-menu-button slot="end"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu side="end" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar id="menuToolbar">
        <ion-title>{{name}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Account</ion-item>
        <ion-item>Sign Out</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

  <div style="text-align:center">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [title]="chartOptions.title"
      ></apx-chart>
    </div>
  </div>
  
  <ion-item id="countdown" justify>
    <ion-label>Countdown <br>{{seconds}}</ion-label>
  </ion-item>

  <div id="betContainer">
    <ion-item lines="full" id="amount">
      <ion-label position="floating">Amount</ion-label>
      <ion-input type="text" [(ngModel)]="amount" required></ion-input>
    </ion-item>
    <br>
    <ion-label>Will the next candle be</ion-label>
    <br>
    <ion-button color="success" (click)="bet(0)">Green</ion-button>
    <ion-button color="danger" (click)="bet(1)">Red</ion-button>
  </div>

  <div id="currentBetsContainer">
    <ion-item id="bet">
      <ion-label>Amount: ${{amount}} 1/2 ${{currentBet}}</ion-label>
    </ion-item>

  </div>
</ion-content>
