ion-header {
    overflow: hidden;
}

ion-toolbar {
    --background: #000033;
    text-align: center;
}

ion-content {
    --background: #000033;
}

form {
    width: 500px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

ion-button {
    --background: #ff6600;
}

span {
    color: white;
}
