<ion-header>
  <ion-toolbar>
    <img id="logo" src="../../assets/images/logo.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="accountContainer">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="name" readonly="{{isReadOnly}}" placeholder="{{name}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email" readonly="{{isReadOnly}}" placeholder="{{email}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]="password" readonly="{{isReadOnly}}" placeholder="{{password}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date of birth</ion-label>
      <ion-input [(ngModel)]="dob" readonly="{{isReadOnly}}" placeholder="{{dob}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Balance</ion-label>
      <ion-input readonly placeholder="{{balance}}"></ion-input>
    </ion-item>
    <ion-button (click)="edit()" disabled="{{editDisabled}}">Edit</ion-button>
    <ion-button (click)="saveChanges()" disabled="{{saveDisabled}}">Save Changes</ion-button>
  </div>
  <br>
  <ion-button [routerLink]="['/betbitcoin']" id="bet" shape="round" size="large">BET</ion-button>
</ion-content>
