ion-header {
    overflow: hidden;
}

ion-toolbar {
    --background: #000033;
    text-align: center;
}

ion-content {
    --background: #000033;
    text-align: center;
}

#accountContainer {
    display: inline-block;
    background-color: white;
    width: 80vw;
    height: 60vh;
    margin-top: 5vh;
    border: 2px solid #ff6600;
    border-radius: 25px;
    padding-top: 20px;
    padding-right: 5px;
}

#bet {
    --background: #ff6600;
    color: white;
}

ion-input{
    --placeholder-color: black;
    --placeholder-opacity: 1;
}